.footer {
	margin-top: 100px;
	padding: 25px 0;
	text-align: right;
	background-color: #f0f0f0;
	i {
		display: inline-block;
		height: 16px;		
		color: #626262;
		&:hover {
			color: $link-hover;
		}
	}
	p {
		display: inline-block;
		padding-right: 10px;
	}
	a {
		margin-left: 15px;
		
	}

}