.header {
	padding-top: 15px
	ul {	
		text-align: center;
		list-style: none;
	
	}
}

.logo {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	margin-top: 84px;
	a {
		color: #333;
	}
	img {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}	
}


.menu {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 65px;
	a {
		font-family: $base-font-family;
		color: #626262;
		font-size: 14px;
		text-transform: uppercase;
		&:hover {
			color: $link-hover;
		}
	}
	li {
		padding: 0 35px 0 35px;
		display: inline-block;		
		}
			
	}

