h1 {
	text-align: center;
	margin-top: 84px;
}

.menu {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	a {
		font-family: 'Times New Roman', sans-serif;
		text-decoration: none;
		color: #626262;
		font-size: 14px;
		text-transform: uppercase;
	&:hover {
		color: #ea1313;
		}
	}
	ul {
		text-align: center;
		list-style: none;
	}
	li {
		display: inline-block;
		text-align: center;		
	}
}

