body {
  //text-align: center;
}

a {
	text-decoration: none;
}

#wraper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1063px;
	margin: 0 auto;
}


.main-text {
	text-align: left;
	p {
		font-family: $base-font-family;
		font-weight: $reg;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin-top: 50px;
		
	}
}

