body {
  //text-align: center;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-weight: $bold;
}

#wraper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1063px;
	margin: 0 auto;
}


.main-text {
	font-family: 'Georgia', sans-serif;
	font-weight: $reg;
	font-size: 14px;
	text-align: left;
	margin-top: 55px;
	color: #626262;
	line-height: 1.6;
	max-width: 85%;
	
	h1 {
		font-family: $base-font-family;
		font-size: 36px;
	}
	ul {
		margin-bottom: 45px;
		margin-top: 25px;
		padding-left: 20px;
	}
}

.main-text-link {
	font-family: $base-font-family;
	font-weight: $reg;
	text-transform: uppercase;
	color: #b4ad9e;
}

.description {
	
	
}

.title-list {
	a:hover {
		color: $link-hover;
		text-decoration: underline;
	}
}

.num {
	list-style-type: decimal;
}

.blochquote {
	p {
		text-align: center;
	}
}