a {
	margin-right: 5px;
	color: red;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.link-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}